* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 26% auto;
    width: 90%;
}

main img {
    width: 17%;
    height: 7.5rem;
    border-radius: 50%;
}

main input {
    width: 88%;
}

main p {
    font-size: 1.7rem;
}
